accelerate
gradio==5.23.2
json-repair
litellm
loguru
mdpd
numpy
pandas
PyMuPDF
python-dotenv
python-levenshtein==0.27.1
requests
setuptools
tabulate
tenacity
types-requests
vllm==v0.8.3
xgrammar==0.1.17
pdf2image
