accelerate
flash-attn
git+https://github.com/huggingface/transformers@49b5ab6a27511de5168c72e83318164f1b4adc43
gradio
hydra-core
json-repair
loguru
mdpd
pandas
python-dotenv
requests
setuptools
tabulate
types-requests
vllm==v0.8.1
